@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.container {
  padding-top: 135px;
  background: #ededee;
  min-height: 1000px;
  /*color: blue;*/
  margin: 0 0px 0 0px;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
}


.footer {
  width: 100%;
  height: 180px;

}


.runString {
  height: 35px;
  background: #093ff3;
  color: #ffffff;
}
