.container {
  padding-top: 135px;
  background: #ededee;
  min-height: 1000px;
  /*color: blue;*/
  margin: 0 0px 0 0px;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.footer {
  width: 100%;
}


.runString {
  height: 35px;
  background: #111111;
  color: #0070f3;
}
